{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="btn-group mt-3">
        {% if punishment.student %}
            <a href="{{ path('punishment_index', {"id": punishment.student.id}) }}" class="btn btn-danger"><i class="bi bi-arrow-left"></i> Retour</a>
        {% else %}
            <a href="{{ path('punishment_index', {"id": student.id}) }}" class="btn btn-danger"><i class="bi bi-arrow-left"></i> Retour</a>
        {% endif %}
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
